body {
    margin:0;
    background-color: black;
    color: #d1d1d1;
    font-family: Verdana, Geneva, sans-serif;



}

html {
    max-width: 100%;
    overflow-x: hidden;
}

div.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-size: 30px;
    color: white;
}





div.page {
    max-width: 1297px;
    min-height: 98%;
    margin: auto;
    background-color: black;
    }

/*always center content, for all window sizes*/
@media screen and (max-width: 1300px) {

    div.page {
        max-width: 973px;
    }
}

@media screen and (max-width: 974px) {

    div.page {
        max-width: 647px;
    }
}

@media screen and (max-width: 650px) {

    div.page {
        max-width: 320px;
    }
}


div.title {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    clear: left;
    background-color: black;
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-size: 20px;
    color: white;
    text-indent: 20px;
    display: block;
    vertical-align: middle;
    line-height: 42px;
    border: white solid;
    border-width: 4px 0;
    margin: 20px 0;
}

div.footer {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    font-family: Courier, monospace;
    font-variant: small-caps;
    font-size: 18px;
    vertical-align: middle;
    line-height: 50px;
    display: block;
    position: absolute;
    text-align: right;
    color: black;
    padding: 0 20px;
}

div.form {
    display: inline;
    position: relative;
    width: 45%;
    min-width: 320px;
    box-sizing: border-box;
    text-align: justify;
    padding: 20px;
    margin-bottom: 40px;
    background-color: black;
    line-height: 200%;
    flex-shrink: 0;


}

div.flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
}

table, th, td {
    
    border-spacing: 5px;
    min-width: 100px;
    padding: 10px 5px;
    vertical-align: top;
}

tr {

    margin-bottom: 10px;
}






img.title {
    display: block;
    width: 50%;
    margin: 60px auto;

}


img.small {
            
    max-width: 320px;
    width: 90%;
            
}

img.bio  {
    width: 100%;
    display: block;
    margin: auto;
    border: white solid 1px;
}





/* Navigation Bar */
.topnav {
   
   
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    border: white solid;
    border-width: 0px 0px 4px 0px;
    font-family: Courier, monospace;
    font-size: 20px;
    font-variant: small-caps;
    z-index: 1;
    
}

a.left {
    float: left;
    
}

a.right {
    float: right;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover:not(.active) {
    background-color: white;
    color: black;

}

.active {
    background-color: black;
    color: white;
}

.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {
     position: fixed;
     height: 430px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Image Overlay */
.container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;

}

.container:hover .overlay {
  opacity: 1;
  border: white solid 5px;  
}

.text {
  font-size: 13px;
  position: absolute;
  padding: 10px;
  }

div.link {
            display: block;
            position: absolute;
            bottom: 0;
            padding: 10px;

}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 55px 0;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 7px 10px;
    border: 4px solid #aaaaaa;
    width: 80%;
    height: 80%;
}

/* Video Position */
div.video {
            height: 100%;
            width: 100%;
            padding: 5% 10%;  
}



/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* Social Media Icon */

/* Style all font awesome icons */
.fa {
    
    
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 60px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}



.fa:hover {
    background-color: white;
    color: black;
}


/* Contact Form */
input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid white;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: white;
    color: black;
}

/* Add a background color and some padding around the form */
.border {
    border: solid white 2px;

}

